.Label {
    display: none;
}

.Input {
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    background: transparent;
    max-height: auto;
}

.Input:focus {
    outline: none;
}